:host {
	color-scheme: light dark;
	--card: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--main-clr: rgb(135, 18, 245);
	--border: 1.6px solid #ccc;
	--icon-clr: hsl(0, 0%, 5%);
}

@media (prefers-color-scheme: dark) {
	:host {
		--card: 0 1px 4px rgba(200, 200, 200, 0.2), 0 1px 2px rgba(200, 200, 200, 0.3);
		--border: 1.6px solid hsl(0, 0%, 48%);
		--bg-bgc: hsl(0, 0%, 6%);
		--icon-clr: white;
	}
}

* {
	box-sizing: border-box;
}

svg {
	width: 15px;
	height: 15px;
	fill: currentColor;
	vertical-align: middle;
	cursor: pointer;
}

:host([popover]) {
	position: absolute;
	border: none;
	margin: 0;
	border-radius: 0.5em;
	box-shadow: var(--card);
	color: light-dark(black, white);
	background-color: light-dark(hsl(0, 0%, 94%), hsl(0, 0%, 20%));
	inset: unset;
	overflow: visible;
}

:host::before {
	content: "";
	display: flex;
	width: 24px;
	height: 12px;
	position: absolute;
	z-index: 11;
	top: -12px;
	inset-inline: 0;
	margin-inline: auto;
	background-color: inherit;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

ul {
	padding-left: 0;
	margin-block: 0;
}

li {
	list-style-type: none;
	padding: 0.5em;
	cursor: pointer;

	&:not(:last-child) {
		border-bottom: var(--border);
	}
}
